.popup__wrap-close {
    position: relative;
    padding: 0;
    margin: 5px auto 0;
    max-width: 510px;
    height: 32px;
    text-align: end;
}

@media screen and (max-width: 520px) {
    .popup__wrap-close {
        max-width: 430px;
        height: 32px;
    }
}

@media screen and (max-width: 440px) {
    .popup__wrap-close {
        max-width: 300px;
        height: 32px;
    }
}

@media screen and (max-width: 320px) {
    .popup__wrap-close {
        max-width: 282px;
        height: 20px;
    }
}