.header__logo {
    box-sizing: border-box;
    width: 142px;
    height: 33px;
    margin: 0;
    padding: 0;
    background-image: url(../../../images/logo.svg);
    background-size: auto;
    background-repeat: none;
    background-position: top;
    margin-left: 1px;
    margin-bottom: 40px;
}

@media screen and (max-width: 365px) {
    .header__logo {
        width: 108px;
        height: 24px;
        background-size: cover;
        margin: 1px 100px 30px 25px;
    }
}