.header__logo {
    box-sizing: border-box;
    width: 142px;
    height: 33px;
    margin: 0;
    padding: 0;
    background-image: url(../../../images/logo.svg);
    background-size: auto;
    background-repeat: none;
    background-position: top;
    margin-left: 1px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 108px;
        height: 24px;
        margin-left: 5px;
        background-size: cover;
        margin-top: 1px;
    }
}