.header {
    box-sizing: border-box;
    max-width: 880px;
    min-height: 74px;
    padding: 0;
    margin: 45px 0 40px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 320px;
        min-height: 56px;
        margin: 28px 0 42px;
    }
}