.header {
    box-sizing: border-box;
    max-width: 880px;
    padding: 0;
    margin: 45px auto 40px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 881px) {
    .header {
        max-width: 800px;
    }
}

@media screen and (max-width: 805px) {
    .header {
        max-width: 650px;
    }
}

@media screen and (max-width: 655px) {
    .header {
        max-width: 500px;
    }
}

@media screen and (max-width: 505px) {
    .header {
        max-width: 400px;
    }
}

@media screen and (max-width: 405px) {
    .header {
        max-width: 360px;
    }
}

@media screen and (max-width: 365px) {
    .header {
        width: 320px;
        margin: 28px 0 42px;
    }
}