.profile__add-button {
    padding: 0 0 7px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 2px;
    display: flex;
    width: 150px;
    height: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 52px;
    font-style: normal;
    background-color: black;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 655px) {
    .profile__add-button {
        width: 120px;
        font-size: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 505px) {
    .profile__add-button {
        width: 190px;
    }
}

@media screen and (max-width: 365px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        font-size: 35px;
        padding-bottom: 3px;
    }
}