.popup__text-simple {
    border: 0;
    padding: 0;
    padding-bottom: 8px;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__text-simple:focus {
    outline: none;
}