.elements__text {
    /* display: flex; */
    padding: 0;
    margin: 0 0 25px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: black;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .elements__text {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    .elements__text {
        font-size: 24px;
    }
}