.popup__close {
    display: block;
    border: 0;
    margin: 0 auto;
    background-image: url(../../../images/Close.svg);
    background-color: black;
    width: 32px;
    height: 32px;
    color: white;
    position: relative;
    z-index: 3;
    left: 240px;
    margin-top: 155px;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 524px) {
    .popup__close {
        width: 28px;
        height: 28px;
        background-size: cover;
        left: 200px;
    }
}

@media screen and (max-width: 441px) {
    .popup__close {
        width: 24px;
        height: 24px;
        left: 140px;
        margin-top: 100px;
    }
}

@media screen and (max-width: 320px) {
    .popup__close {
        width: 20px;
        height: 20px;
        background-size: contain;
        margin-top: 87px;
        left: 130px;
    }
}