.elements__like {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-image: url(../../../images/like.svg);
    width: 22px;
    height: 19px;
    color: black;
    border: 0;
    background-color: white;
}

.elements__like:hover {
    opacity: .5;
}


.elements__like:active {
    opacity: 1;
    background-image: url(../../../images/like_active.png);
}