.profile__info {
    max-width: 295px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 30px;
    padding: 0;
}

@media screen and (max-width: 655px) {
    .profile__info {
        margin-bottom: 10px;
        /* max-width: 100px; */
        align-items: flex-start;
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        margin: 0 10px 32px 0;
        max-width: 217px;
        align-items: center;
    }
}